.news-content{
    padding: 70px 50px;
    display: grid;
    gap: 2rem;
    .info{
        display: grid;
        grid-template-columns: auto auto; 
        align-items: center;
        gap: 2rem;
        img{
            width: 100%;
            border-radius: 10px;
        }
        p{
            font-size: 1.1rem;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.808);
        }
    }
    @media only screen and (max-width: 920px){
        &{
            padding: 50px 10px;
            .info{
                grid-template-columns: auto;
                gap: 1rem;
                border-bottom: 1px solid #000;
                padding-bottom: 20px;
            }
        }
    }
}